<ion-header>
  <ion-navbar>
    <ion-title> Verify Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-app" id="confirmation" no-bounce>
  <ion-grid >
    <ion-row>
      <ion-col width-75 class="confirmation-col">

        <ion-input type="email" text-center [(ngModel)]="user.email" placeholder="Email"></ion-input>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-75 class="confirmation-col">

        <ion-input type="email" text-center [(ngModel)]="user.code" placeholder="Code"></ion-input>

      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col width-75 class="confirmation-col">

        <button ion-button full color="pink" (click)="onConfirm()" >Confirm</button>

      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col width-90 class="confirmation-col confirmation-text">
        <a (click)="openTermsPage()">Terms of Service, </a><a (click)="openPrivacyPage()">Privacy Policy, </a><a (click)="openCookiePage()">Cookie Use</a>
      </ion-col>
    </ion-row >


  </ion-grid>
