
<ion-content class="background-app" id="login" no-bounce>
    <ion-grid class="grid">
        <ion-row >
            <img src="assets/img/login.png">
        </ion-row>
        <ion-row >
            <ion-col width-75 class="login-col">
                    <ion-input text-center [(ngModel)]="user.username"  placeholder="Username" ></ion-input>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-75 class="login-col">

                    <ion-input type="password" text-center [(ngModel)]="user.password" placeholder="Password"></ion-input>

            </ion-col>
        </ion-row>
        <ion-row >
            <ion-col width-75 class="login-col">

                    <button ion-button full color="pink" (click)="onLogin()" [(disabled)] = "disableL" >Login</button>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-33 class="login-col">
                <a (click)="onResetPwd()">Reset Password</a>
            </ion-col>
        </ion-row >


        <ion-row>
            <ion-col width-75 class="login-col">
                <button ion-button full color="pink" (click)="openRegisterPage()"  [(disabled)] = "disableR" >Register</button>
            </ion-col>
        </ion-row >
    </ion-grid>


</ion-content>
