
#login {
  text-align: center;
  .background-app {
    background: linear-gradient(to bottom, #2F92C5 0%,#80Bddc 50%, #BFDDED 100%);

  }
  .grid{

    position: absolute;
  }
  .login-grid {
    margin-top: 35%;
  }
  .login-col {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-login {
    background: #C6658A;
  }

  .toolbar-background {
    background: #C6658A;
  }
  a{
    color: #000000;
  }
  .item-md{
    padding-left: 0;

  }
  .input{
    background-color: #ffffff;
  }
  #footer {
    button {
      box-shadow: none;
    }
  }
  img{
    width: 80%;
    height: 10%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20%;
    margin-bottom: 10%;
  }
}
body.keyboard-open .has-footer{
  bottom: 0;
}
input, textarea {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
}
.backdrop { display: none; }
.backdrop.visible { display: block; }
.loading-container:not(.visible) { display: none; }
