<ion-header>
  <ion-navbar>
    <ion-title>
      Communications
      <ion-icon (click)="powerOff.powerOff()" class="icon-logout" name="power"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-in-app" id="com" no-bounce>
  <ion-card *ngFor="let message of message">

    <ion-card-content (click)="onClickMessage(message.id)">
      <ion-row *ngIf="message.sender.id != id">
        <ion-col width-20>
          <ion-avatar>
            <div class="item-avatar">
              <ion-icon *ngIf="message.is_readed == 0" name="star-outline" class="star-top"></ion-icon>
              <img src="https://api.denrole.com/uploads/profile_pictures/{{message.sender.profile_picture}}">
            </div>
          </ion-avatar>
        </ion-col>
        <ion-col width-50>
          <h2>{{message.sender.username}}</h2>
          <h4 [innerHTML] = "message.last_message.body"></h4>
        </ion-col>

      </ion-row>
      <ion-row *ngIf="message.receiver.id != id">
        <ion-col width-20>
          <ion-avatar>
            <div class="item-avatar">
              <ion-icon *ngIf="message.is_readed == 0" name="star-outline" class="star-top"></ion-icon>
              <img src="https://api.denrole.com/uploads/profile_pictures/{{message.receiver.profile_picture}}">
            </div>
          </ion-avatar>
        </ion-col>
        <ion-col width-50>
          <h2 >{{message.receiver.username}}</h2>
          <h4 [innerHTML] = "message.last_message.body" ></h4>
        </ion-col>

      </ion-row>
    </ion-card-content>

  </ion-card>

</ion-content>
