#register{
  margin-top: 5%;
  .register-grid {
    position: absolute;
  }
  .register-col{
    margin-left: auto;
    margin-right: auto;
  }

  .item-md{
    padding-left: 0;

  }
  //a{
  //  color: #000000;
  //}
  .input{
    text-align: center;
    background-color: #ffffff;
  }
  .register-input-row{
    position: absolute;
  }

  .lastName{
    margin-top: 15%;
  }
  .userName{
    margin-top: 30%;
  }
  .address{
    margin-top: 45%;
  }
  .pwd{
    margin-top: 60%;
  }
  .email{
    margin-top: 75%;
  }
  .btn{
    margin-top: 100%;
  }
  .profession{
    margin-top: 90%;
    //width: 93%;
    margin-left: 14%;
    .item-md{
      background-color: transparent;
    }
    .item-block{
      width: auto;
    }
  }
  .text-footer{
    text-align: center;
    margin-top: 120%;

  }
}

