<ion-header>
    <ion-navbar>
        <ion-title>Register</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="background-app" id="register" no-bounce>
    <ion-grid class="register-grid">
        <ion-row class="register-input-row firstName">
            <ion-col width-80 class="register-col">
                <ion-item >
                    <ion-input text-center [(ngModel)]="user.first_name"  placeholder="First Name" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="register-input-row lastName">
            <ion-col width-80 class="register-col">
                <ion-item >
                    <ion-input text-center [(ngModel)]="user.last_name"  placeholder="Surname" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="register-input-row userName">
            <ion-col width-80 class="register-col">
                <ion-item >
                    <ion-input text-center [(ngModel)]="user.username"  placeholder="Username" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row >
         <ion-row class="register-input-row address">
            <ion-col width-80 class="register-col">
                <ion-item >
                    <ion-input text-center [(ngModel)]="user.location"  placeholder="Location" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row >
        <ion-row class="register-input-row email">
            <ion-col width-80 class="register-col">
                <ion-item >
                    <ion-input type="email" text-center [(ngModel)]="user.email"  placeholder="Email" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="register-input-row pwd">
            <ion-col width-80 class="register-col">
                <ion-item >
                    <ion-input type="password" text-center [(ngModel)]="user.password"  placeholder="Password" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>


        <ion-row class="register-input-row profession register-col" radio-group [(ngModel)]="user.profession" >

            <ion-item *ngFor=" let role of roleArray">

                <ion-radio value="{{role.name}}" ></ion-radio>
                <ion-label>{{role.name}}</ion-label>
            </ion-item>
        </ion-row>
        <ion-row class="register-input-row btn">
            <ion-col width-80 class="register-col ">

                <button ion-button full color="pink" (click)="onRegister()"  [(disabled)] = "disableL" >Register</button>

            </ion-col>
        </ion-row>

    </ion-grid>

    <footer>
        <ion-row class="register-input-row text-footer">
            <ion-col width-90 class="register-col register-text">
               <p> By registering, you agree to the<br><a (click)="openTermsPage()">Terms of Service</a>, <a (click)="openPrivacyPage()">Privacy Policy</a>, <a (click)="openCookiePage()">Cookie Use</a> </p>
            </ion-col>
        </ion-row >
    </footer>
</ion-content>
