<ion-tabs selectedIndex= {{index}} color="pink" >

  <!--<ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>-->
  <ion-tab  [root]="tab1Root" tabIcon="home"></ion-tab>
  <ion-tab  [root]="tab2Root" tabIcon="person"  ></ion-tab>
  <ion-tab  [root]="tab3Root" tabIcon="people"  ></ion-tab>
  <ion-tab  [root]="tab4Root" tabIcon="chatbubbles"  ></ion-tab>
  <ion-tab  [root]="tab5Root" tabIcon="search"  ></ion-tab>
</ion-tabs>
