
<ion-header>
    <ion-toolbar>
        <ion-title>
            New Attachment
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="background-in-app" id="modal" no-bounce>
    <ion-grid class="modal-grid">

        <ion-row>
            <ion-col  class="modal-col"  >

                <ion-input  text-center class="input-cover-modal" color="light" [(ngModel)]="att.name" placeholder="name"></ion-input>

            </ion-col>
        </ion-row>
        <ion-row >
            <ion-col  class="login-col" >
                <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />

            </ion-col>
        </ion-row>
        <ion-row >
            <ion-col  class="login-col">

                <button ion-button full color="pink" (click)="upload()" >Add</button>

            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
