
#modal {

  .modal-grid {
    margin-top: 35%;
  }
  .modal-col {
    margin-left: auto;
    margin-right: auto;
  }

  a{
    color: #000000;
  }
  .item-md{
    padding-left: 0;

  }
  .input-cover-modal{
    background-color: #ffffff;
  }
  .ion-row-input{
    background-color: #ffffff;
    border:solid;
    border-color: #8c8c8c;
    border-width: 1px;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  #footer {
    button {
      box-shadow: none;
    }
  }
}
body.keyboard-open .has-footer{
  bottom: 0;
}