page-rootpage {
  ion-spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: -40%;
  }
  .img-root{
        @media (max-width: 520px) {
          margin-top : 35%
        }
        @media (min-width: 521px) {
          margin-top : 15%

        }
  }
}
