<ion-header>
  <ion-navbar>
    <ion-title >
      {{sender}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-in-app" id="message" no-bounce>
  <ion-card  *ngFor="let message of message">

    <ion-card-content>
      <ion-row >
        <ion-col width-20>
          <ion-avatar>
            <div class="item-avatar">
              <img src="https://api.denrole.com/uploads/profile_pictures/{{message.user.profile_picture}}">
            </div>
          </ion-avatar>
        </ion-col>
        <ion-col width-50>
          <h2>{{message.user.username}}</h2>
          <h4 [innerHTML] = "message.body"></h4>
        </ion-col>

      </ion-row>
    </ion-card-content>


  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-row >
        <ion-col width-20>
          <ion-avatar>
            <div class="item-avatar">
              <img src="https://api.denrole.com/uploads/profile_pictures/{{last_message_picture}}">
            </div>
          </ion-avatar>
        </ion-col>
        <ion-col width-50>
          <h2>{{last_message_sender}}</h2>
          <h4>{{last_message_body}}</h4>
        </ion-col>

      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col width-75>
      <ion-item>
        <ion-textarea [(ngModel)]="msg"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col width-20>
      <button ion-button (click)="onSendMessage(message_id)" >Send</button>
    </ion-col>
  </ion-row>
</ion-footer>
