<ion-header>
  <ion-navbar>
    <ion-title>Terms of Service</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="terms" class="background-in-app" padding no-bounce>
  <p>
    Last updated: (28 May 2017)
  </p>
  <p>
    Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully
    before using the denrole.com website and the DenRole mobile application (the “Service”)
    operated by DenRole Ltd (“us”, “we”, or “our”).
  </p>
  <p>
    Your access to and use of the Service is conditioned on your acceptance of and
    compliance with these Terms. These Terms apply to all visitors, users and others who
    access or use the Service. (Please note you are entering into a legally binding agreement).
  </p>
  <h4>
    By accessing or using the Service you agree to be bound by these Terms. If you
    disagree with any part of the terms then you must not access or use the Service.
  </h4>
  <p>
    To use the Service, you agree that you are the “Minimum Age” (see below) or older, you
    will only have one DenRole account which must be in your real name. “Minimum Age”
    means 16 years old at the time of registration. The Services are not for use by anyone
    under the age of 16.
  </p>
  <p>
    Your account is your responsibility and you agree to choose a strong and secure
    password, keep your password secure and confidential and follow the law. You are
    responsible for everything that happens via your account unless your account is
    terminated by you or you report misuse.
  </p>
  <h4>
    You agree that you will:
  </h4>
  <p>
    Comply with all applicable laws, including, without limitation, privacy laws,
    intellectual property laws, anti-spam laws, tax laws, and regulatory requirements
    Provide accurate information to us and keep it updated
    Use the Services in a professional manner
  </p>
  <h4>
    Purchases
  </h4>
  <p>
    If you wish to purchase any product or service made available through the Service
    (“Purchase”), you may be asked to supply certain information relevant to your Purchase
    including, without limitation, your Name, Gender, Address, Credit/Debit card and Work
    details, as well as other personal information. You agree to pay us the applicable fees and
    taxes. Failure to pay these fees may result in the termination of your subscription. Your
    purchase may be subject to foreign exchange fees or differences in prices based on your
    location at time of purchase (e.g. exchange rates).You authorise us to store and continue
    billing your payment method (e.g. credit card) even after it has expired, to avoid
    interruptions in your service (e.g. subscriptions).
  </p>
  <h4>
    Subscriptions
  </h4>
  <p>
    The Service is billed on a annual subscription basis (“Subscription(s)”). A fee of £1.99 is
    collected annually from the date of first purchase. This is to maintain safe, secure andexcellent service provision to all users. Should this change, our Terms will be updated to
    that effect and you will be notified on this website.
  </p>
  <h4>
    Notifications
  </h4>
  <p>
    You agree that we may provide notices to you in the following ways: notice on the Service,
    an email sent to an email address you provided, or through other means including mobile
    number, telephone, or mail. You agree to keep your contact details accurate and up to
    date.
  </p>
  <h4>
    Content
  </h4>
  <p>
    This Service has been produced by DenRole Ltd for recruitment and networking purposes
    only. DenRole Ltd is not responsible or liable for User reliance on the accuracy,
    conclusiveness and completeness of the content, information, links and data provided in
    this mobile application website. The information provided by this Service should not be
    treated as a substitute for specific advice relevant to particular circumstances.
  </p>
  <p>
    Users of this Service are allowed to post, link and share the DenRole app on social media,
    providing Users attribute all references to DenRole Ltd. You are responsible and liable for
    the information you provide, share and distribute in connection with this Service.
  </p>
  <h4>
    You agree that you will not:
  </h4>
  <p>Create a false identity<br>
    Act dishonestly or unprofessionally, including by posting inappropriate, inaccurate content<br>
    Misrepresent your current or previous positions, qualifications and affiliations<br>
    Create a user profile for anyone other than yourself<br>
    Use or attempt to use another’s account<br>
    Harass, abuse, intimidate or harm another person<br>
    Send spam or other unwelcome communications to others<br>
    Copy profiles and information of others through any means<br>
    Act in an unlawful, libellous, abusive, obscene or discriminatory manner<br>
    Disclose information that you do not have the right to disclose<br>
    Violate the intellectual property rights of others<br>
    Post anything that contains software viruses, or any other harmful code<br>
    Copy or use the information, content or data of DenRole Ltd in connection with a
    competitive service<br>
    Reverse engineer, disassemble or attempt to derive the source code for the Service or any
    related technology<br>
    Sell, sponsor, or otherwise monetise DenRole or any other feature of the Services without
    DenRole Ltd’s consent<br>
    Remove any copyright, trademark or other proprietary rights notices contained in or on our
    Service<br>
  </p>
  <h4>
    Messages
  </h4>
  <p>
    Our Service allows messaging and sharing of information in many ways, such as your
    profile and job postings. Information and content shared or posted by you may be seen by
    other users. You should only share information you feel comfortable sharing. We are not
    obligated to publish any information or content on our Service and can remove it in our
    sole discretion, with or without notice.
  </p>
  <h4>
    Links To Other Web Sites
  </h4>
  <p>
    Our Service contains links to third party web sites or services that are not owned or
    controlled by DenRole Ltd. Your access and or use of third party sites or services that link
    from our Services are at your own risk. DenRole Ltd has no control over, and assumes no
    responsibility for, the content, privacy policies, or practices of any third party web sites or
    services. You further acknowledge and agree that DenRole Ltd shall not be responsible or
    liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in
    connection with use of, or reliance on, any such content, goods or services available in, on
    or through this service and any such third-party web sites or services.
  </p>
  <h4>
    Limits
  </h4>
  <p>
    DenRole Ltd reserves the right to limit your use of the Service, including your ability to
    contact other users. DenRole Ltd reserves the right to restrict, suspend or terminate your
    account if DenRole Ltd has reason to believe that you may be in breach of this agreement
    or law or are misusing the Service.
  </p>
  <p>
    DenRole Ltd reserves all of its intellectual property rights in the Service. DenRole
    trademarks and logos used in connection with DenRole are trademarks or registered
    trademarks of DenRole Ltd.
  </p>
  <h4>
    Disclaimer of Warranty and Limitation of Liability
  </h4>
  <p>
    TO THE EXTENT ALLOWED UNDER LAW, DENROLE LTD (AND THOSE THAT
    DENROLE LTD WORKS WITH TO PROVIDE THE SERVICES), DISCLAIM ALL IMPLIED
    WARRANTIES AND REPRESENTATIONS WITH REGARD TO THE INFORMATION,
    SERVICES AND MATERIALS CONTAINED ON THIS SITE, INCLUDING, WITHOUT
    LIMITATION, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE AND NON-INFRINGEMENT. YOUR USE OF THE SERVICE IS
    AT YOUR OWN RISK. ACCESS TO THE SERVICE MAY BE INTERRUPTED AND
    INFORMATION, SERVICES AND MATERIALS MAY NOT BE ERROR-FREE. NONE OF
    DENROLE LTD, ITS SUPPLIERS OR ANYONE ELSE INVOLVED IN CREATING,
    PRODUCING OR DELIVERING THE SERVICE OR THE INFORMATION, SERVICES
    AND MATERIALS CONTAINED HEREIN ASSUMES ANY LIABILITY ORRESPONSIBILITY FOR THE ACCURACY, COMPLETENESS OR USEFULNESS OF ANY
    INFORMATION, SERVICES AND MATERIALS PROVIDED ON THIS SITE; THEY ALSO
    SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
    CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF YOUR USE OF, OR
    INABILITY TO USE, THIS SITE. ALL INFORMATION, SERVICES AND MATERIALS ARE
    PROVIDED “AS IS” AND “AS AVAILABLE” WITHOUT WARRANTY OF ANY KIND,
    EXPRESS OR IMPLIED.
  </p>
  <p>
    YOU ACKNOWLEDGE AND AGREE THAT THE LIMITATIONS SET FORTH ABOVE ARE
    FUNDAMENTAL ELEMENTS OF THIS AGREEMENT AND THIS SITE WOULD NOT BE
    PROVIDED TO YOU ABSENT SUCH LIMITATIONS.
  </p>
  <p>
    PLEASE NOTE THAT SOME JURISDICTIONS MAY NOT ALLOW THE EXCLUSION OF
    IMPLIED WARRANTIES, SO SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY
    TO YOU. CHECK YOUR LOCAL LAWS FOR ANY RESTRICTIONS OR LIMITATIONS
    REGARDING THE EXCLUSION OF IMPLIED WARRANTIES.
  </p>
  <h4>
    Indemnification
  </h4>
  <p>
    You agree to indemnify, defend and hold harmless DenRole Ltd and its suppliers and their
    respective affiliates, employees, officers, directors, agents, servants and representatives of
    each from any liability, loss, claim, suit, damage, and expense (including reasonable
    attorneys ́ fees and expenses) related to (i) your violation of these terms and conditions
    and (ii) your posting of material to this Site.
  </p>
  <h4>
    Termination
  </h4>
  <p>
    DenRole Ltd or you may terminate this agreement at any time with notice to the other. On
    termination, you lose the right to access or use the Service.
  </p>
  <h4>
    Dispute Resolution
  </h4>
  <p>
    You agree that these terms and conditions and the resolution of any dispute related to
    these terms and conditions shall be construed in accordance with the laws of England. We
    both agree that all or any dispute between DenRole Ltd and you related to these terms
    and conditions shall be resolved exclusively by the courts of England.
  </p>
  <p>
    This web site can be accessed from the United Kingdom and other countries worldwide.
    Since the laws of each State or country may differ, you agree that the statutes and laws of
    England without regard to any principles of conflicts of law, will apply to all matters relating
    to the use of this site.
  </p>
  <p>
    DenRole Ltd makes no representation that material on this site is appropriate or available
    for use in other locations, and accessing them from territories where their content is illegal
    is prohibited. Those who choose to access the site from other locations do so on their own
    initiative and are responsible for compliance with local laws.
  </p>
  <h4>
    Changes
  </h4>
  <p>
    We reserve the right, at our sole discretion, to modify or replace these Terms and
    Conditions at any time. If a revision is material we will try to provide notification of thesechanges on the website. What constitutes a material change will be determined at our sole
    discretion.
  </p>
  <h4>
    Privacy
  </h4>
  <p>
    User personal information is accessed, collected and transmitted by this Service.
  </p>
  <p>
    DenRole Ltd is not responsible or liable for User reliance on the accuracy, conclusiveness
    and completeness of the content, information, links and data provided in this mobile
    application. At the time writing, DenRole Ltd believes the content and information provided
    to be current. Users of the service are advised to supplement information from the service
    with additional resources and due diligence.
  </p>
  <h4>
    Contact Us
  </h4>
  <p>
    If you have any questions about these Terms, please contact us at www.denrole.com using
    the contact form on the contact page.
  </p>


</ion-content>
