<!--
  Generated template for the SendMessage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New message</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
  <ion-row>
    <ion-col width-75>
      <ion-item>
        <ion-textarea [(ngModel)]="msg"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col width-20>
      <button ion-button (click)="onSendMessage(message_id)" >Send</button>
    </ion-col>
  </ion-row>
</ion-content>
