#profile{
  .item-avatar{

    height: 100px;
    width: 100px;
  }
  .profile-col-user {
    @media (max-width: 520px) {
      margin-left: 8% ;
    }
    @media (min-width: 521px) {
      margin-left: 25% ;
      }

  }
  .gris-fab {
    background-color: #c8cbce;
    height: 40px;
    width: 40px;
    margin-left: 70px;
    margin-top: -25px;
    border-radius: 50%;
    ion-icon{
      color: #ffffff;
      margin-left: 33%;
      margin-top: 30%;
    }


  }
  .avatar{
    margin-top: 50px;
  }
  .attachment-col{
    border: solid;
    border-color:#9d9ea0;
    border-width: 1px;
    margin: 1px;
    @media (max-width: 520px) {

      height: 120px;
      ion-fab{
        margin-top: 7%;
        margin-left: 7%;
      }
    }
    @media (min-width: 521px) {

      height: 250px;
      ion-fab{
        margin-top: 12%;
        margin-left: 12%;
      }
    }


  }
  .btn-gray{
    border: solid;
    border-color:#9d9ea0;
    border-width: 1px;
    background-color: Transparent;
    box-shadow: none;
  }
  .icon-grey{
    color: #9d9ea0;
  }
  .button-profile{
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .button-profile-left{
    margin-left: -5%;
  }
  .button-profile-right{
    margin-left: 5%;
  }
  .img-avatar{
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
  .delete{
    float: right;
  }

}
