<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      Your profile
      <ion-icon (click)="powerOff.powerOff()" class="icon-logout" name="power"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-in-app" id="profile" onload="onLoadProfile()" no-bounce>


  <div class="avatar">
    <ion-row>
      <ion-avatar class="profile-col">
        <div class="item-avatar">

          <img  class="img-avatar" src={{user.profile_picture}}>
          <ion-fab (click)="fileInput.click()">
            <div type="button"  class="btn-gray gris-fab">

              <ion-icon name="camera">

              </ion-icon>
            </div>
          </ion-fab>

          <input (change)="fileChangeEvent($event)"  type="file" style="display:none;" #fileInput/>
        </div>
      </ion-avatar>

    </ion-row>
    <ion-row >
      <h4 class="profile-col">{{user.username}}</h4>
    </ion-row>
  </div>

  <ion-row >
    <ion-col width-50 class="button-profile-right">
      <button class="button-profile profile-col-user" (click)="pubishProfile()">Post your Profile</button>
    </ion-col>
    <ion-col width-50 class="button-profile-left">
      <button class="button-profile profile-col-user" (click)="openModalPost()">View / Create Post</button>
    </ion-col>
  </ion-row>
  <ion-row  *ngFor="let item of row">
    <ion-col width-33 class="attachment-col" *ngFor="let col of item" >
      <a href="https://api.denrole.com/uploads/attachments/{{col.file_name}}">{{col.name}}</a>

      <ion-icon (click)="deleteAttachment(col.id)" class="delete" name="ios-trash-outline"></ion-icon>

    </ion-col>


  </ion-row>

  <ion-row center>
    <ion-col width-33 class="attachment-col">
      <ion-fab >
        <button ion-fab  (click)="openModalAttachment()">
          <ion-icon class="icon-grey" name="add"></ion-icon>
        </button>
      </ion-fab>
    </ion-col>

  </ion-row>

</ion-content>
