
<ion-header>
    <ion-toolbar>
        <ion-title>
            New Post
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="background-in-app" id="modalPost" no-bounce>
    <ion-grid style="position: absolute">
        <ion-row>

            <ion-label stacked>Role</ion-label>
        </ion-row>
        <ion-row class="ion-row-input" radio-group [(ngModel)]="Userpost.role" >

            <ion-item *ngFor=" let role of roleArray">
                <ion-label>{{role.name}}</ion-label>
                <ion-radio value="{{role.id}}" ></ion-radio>
            </ion-item>
        </ion-row>


        <ion-row>

            <ion-label stacked>Work Hours</ion-label>
        </ion-row>
        <ion-row class="ion-row-input" radio-group [(ngModel)]="Userpost.work_hours">
            <ion-item *ngFor=" let workH of workHArray">
                <ion-label>{{workH.name}}</ion-label>
                <ion-radio value="{{workH.id}}" ></ion-radio>
            </ion-item>
        </ion-row>
        <ion-row >
            <ion-label stacked>Type</ion-label>
        </ion-row>
        <ion-row class="ion-row-input" >
            <ion-item *ngFor=" let type of typeArray" radio-group [(ngModel)]="Userpost.type" >
                <ion-label>{{type.name}}</ion-label>
                <ion-radio value="{{type.id}}" ></ion-radio>
            </ion-item>
        </ion-row>



        <ion-row>
            <ion-label stacked>Description</ion-label>
        </ion-row>
        <ion-row style="height: 100px" class="ion-row-input" >
          <textarea type="text" [(ngModel)]="Userpost.body"></textarea>
        </ion-row>


        <ion-row>
            <ion-col>
                <button ion-button full color="grey" (click)="onSaveDraft()" >Save Draft</button>
            </ion-col>
            <ion-col>
                <button ion-button full color="pink" (click)="onPost()" >Post</button>
            </ion-col>
        </ion-row>



    </ion-grid>
</ion-content>
