<ion-header >
  <ion-navbar>
    <ion-title>Cookie Policy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="cookie" class="background-in-app" padding no-bounce>
  <h4>
    DenRole – Cookie Policy
  </h4>
  <p>
    This cookie policy applies to any DenRole Ltd product or service that links to
    this policy or incorporates it by reference.
  </p>
  <p>
    We use cookies to ensure everyone who uses the DenRole app and website has
    excellent user experience. Cookies also help us keep your account safe. By
    continuing to visit or use our Services, you are agreeing to the use of cookies
    and similar technologies for the purposes we describe in this policy.
  </p>
  <p>
    A cookie is a small file placed onto your device that enables DenRole features
    and functionality. For example, cookies enable us to identify your device and
    secure your access to DenRole and our sites. Cookies also enable you to easily
    share content on DenRole.
  </p>
  <p>
    We use cookies on our sites and mobile applications. Any browser visiting
    these sites will receive cookies from us. After you sign in, a persistent cookie
    stays in your browser and will be read by DenRole when you return to one of
    our sites. Session cookies only last for as long as the session (usually the
    current visit to a website or a browser session).
  </p>
  <p>
    Cookies can be used to recognise you when you visit DenRole, to give you a
    personalised experience that’s in line with your settings. Cookies also make
    your interactions with DenRole faster and more secure.
  </p>
  <p>
    Most browsers allow you to control cookies through their settings
    preferences. However, if you limit the ability of websites to set cookies, you
    may worsen your overall user experience, since it will no longer be
    personalised to you. It may also stop you from saving customised settings like
    login information.
  </p>
  <p>
    Please note that the DenRole app and site will not work properly without
    cookies.
  </p>
</ion-content>
