<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      Contacts
      <ion-icon (click)="powerOff.powerOff()" class="icon-logout" name="power"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-in-app" id="contact" no-bounce>

  <ion-card *ngFor="let contactrequest of contactRequest ">

    <ion-card-content>
      <ion-row>
        <ion-col width-25>
          <ion-avatar (click)="OnClickAvatar(contactrequest.id,false)">
            <div class="item-avatar">
              <img src="https://api.denrole.com/uploads/profile_pictures/{{contactrequest.profile_picture}}">
            </div>
          </ion-avatar>
        </ion-col>
        <ion-col width-34>
          <h2>{{contactrequest.username}}</h2>
        </ion-col>
        <ion-col width-20>

          <ion-fab >
            <button class="button-add"  ion-fab color="light" mini (click)="AcceptInvitation(contactrequest.id)"><ion-icon color="primary" name="add"></ion-icon></button>
          </ion-fab>
        </ion-col>
        <ion-col width-10>

          <ion-fab >
            <button class="button-add" ion-fab color="light" mini (click)="DenyInvitation(contactrequest.id)"><ion-icon color="primary" name="close"></ion-icon></button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>
  <ion-card *ngFor="let contact of contact ">

    <ion-card-content>
      <ion-row>
        <ion-col width-25>
          <ion-avatar (click)="OnClickAvatar(contact.id,true)">
            <div class="item-avatar">
              <img src="https://api.denrole.com/uploads/profile_pictures/{{contact.profile_picture}}">
            </div>
          </ion-avatar>
        </ion-col>
        <ion-col width-34>
          <h2>{{contact.username}}</h2>
        </ion-col>
        <ion-col width-20 class="dropdown">

          <ion-fab   >
            <button class="button-add"  ion-fab color="light" mini (click)="SendMessage(contact.id)"> <ion-icon color="primary" name="ios-text-outline"></ion-icon></button>
          </ion-fab>
        </ion-col>
        <ion-col width-10>

          <ion-fab >
            <button class="button-add" ion-fab color="light" mini (click)="DeleteContact(contact.id)"><ion-icon color="primary" name="close"></ion-icon></button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>
  <!--<div class="dropdown">-->
    <!--<ion-fab class="dropbtn" >-->
      <!--<button class="button-add"  ion-fab color="light" mini (click)="sendPage(contact.id)"> <ion-icon color="primary" name="ios-text-outline"></ion-icon></button>-->
    <!--</ion-fab>-->

    <!--<div id="myDropdown" class="dropdown-content">-->
      <!--<ion-row>-->
        <!--<ion-col width-75>-->
          <!--<ion-item>-->
            <!--<ion-textarea [(ngModel)]="msg"></ion-textarea>-->
          <!--</ion-item>-->
        <!--</ion-col>-->
        <!--<ion-col width-20>-->
          <!--<button ion-button (click)="onSendMessage(message_id)" >Send</button>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</div>-->
  <!--</div>-->
</ion-content>
