<ion-header>
  <ion-navbar>
    <ion-title>
      Notice Board
      <ion-icon (click)="powerOff.powerOff()" class="icon-logout" name="power"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg background-in-app" id="home" no-bounce>

  <ion-card *ngFor="let boardpost of boardposts ">

    <ion-card-content>




      <ion-row >
        <ion-col width-25  >
          <ion-avatar (click)="OnClickAvatar(boardpost.user.id,boardpost.is_author_friend)">
              <img src="https://api.denrole.com/uploads/profile_pictures/{{boardpost.user.profile_picture}}">

          </ion-avatar>
        </ion-col>

        <ion-col width-50>
          <h2>{{boardpost.user.username}} <span style="color: darkgray;font-size: small;">({{boardpost.user.profession}})</span></h2>
          <h3 [innerHTML] = "boardpost.body"> </h3>
          <h4 color="primary"> {{boardpost.updated_at.date}}</h4>
        </ion-col>
        <ion-col width-20 *ngIf="boardpost.user.id!= user.id">

          <ion-fab  *ngIf="!boardpost.is_author_friend">
            <button class="button-add" ion-fab color="light" mini (click)="sendAdd(boardpost.user.id)"><ion-icon color="primary" name="add" ></ion-icon></button>
          </ion-fab>
        </ion-col>
        <ion-col width-20 *ngIf="!(boardpost.user.id != user.id)">

          <ion-fab  >
            <button class="button-add" ion-fab color="light" mini (click)="deletePost(boardpost.id)">
              <ion-icon class="delete" color="primary" name="ios-trash-outline"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>


</ion-content>
