#profile{
  .item-avatar{

    height: 100px;
    width: 100px;
  }
  .profile-col {
    margin-left: auto;
    margin-right: auto;
  }
  .gris-fab {
    background-color: #c8cbce;
    height: 40px;
    width: 40px;
    margin-left: 70px;
    margin-top: -25px;
  }
  .avatar{
    margin-top: 50px;
  }
  .hide-button {
    visibility: hidden;
  }

  button{
    border: solid;
    border-color:#9d9ea0;
    border-width: 1px;
    background-color: Transparent;
    box-shadow: none;
  }
  .icon-grey{
    color: #9d9ea0;
  }
  .button-profile{
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .button-profile-left{
    margin-left: -5%;
  }
  .button-profile-right{
    margin-left: 5%;
  }
}
