<ion-header>
  <ion-navbar>
    <ion-title>
      {{user.username}}'s Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-in-app" id="profile" no-bounce>
  <div class="avatar">
    <ion-row>
      <ion-avatar class="profile-col">
        <div class="item-avatar ">
          <img class="img-avatar" src="{{user.profile_picture}}">
        </div>
      </ion-avatar>

    </ion-row>
    <ion-row >
      <h4 class="profile-col">{{user.username}}</h4>
    </ion-row>
  </div>

  <ion-row >
    <ion-col width-50 class="button-profile-right" *ngIf="is_friend">
      <button class="button-profile profile-col hide-button" >Add to Contacts</button>
    </ion-col>
    <ion-col width-50 class="button-profile-right" *ngIf="!is_friend">
      <button class="button-profile profile-col" (click)="AddFriend(user.id)" >Add to Contacts</button>
    </ion-col>
    <ion-col width-50 class="button-profile-left">
      <button class="button-profile profile-col" (click)="requestMeeting()">Request meeting</button>
    </ion-col>
  </ion-row>
  <ion-row  *ngFor="let item of row">
    <ion-col width-33 class="attachment-col" *ngFor="let col of item" >
      <a href="https://api.denrole.com/uploads/attachments/{{col.file_name}}">{{col.name}}</a>
    </ion-col>

  </ion-row>

  <ion-row color="light">


  </ion-row>


</ion-content>
