<!--
  Generated template for the ConfirmDelete page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content class="background-in-app" no-bounce>
  <div class="confirm-text-delete">
    <p>Please confirm: <a (click)="deleteAttachment()" >YES</a> / <a (click)="cancelDelete()" >NO</a></p>
  </div>
</ion-content>
