// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.background-app {
  background: linear-gradient(to bottom, #2F92C5 0%,#80Bddc 50%, #BFDDED 100%);

}

.toolbar-background {
  background: #E5F2F8;
}
.background-in-app{
  background: linear-gradient(to bottom, #80Bddc 0%, #BFDDED 20%, #ffffff 100%);
}
ion-title{
  text-align: center;
}
ion-avatar{
  img{

    object-fit: cover;
  }
}
.icon-logout{
  float: right;
}