<ion-header>
    <ion-navbar>
        <ion-title>Reset password</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="background-app" id="login" no-bounce>
    <ion-grid >
    <ion-row>
      <ion-col width-75 class="login-col">

        <ion-input type="email" text-center [(ngModel)]="user.email" placeholder="Email"></ion-input>

      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col width-75 class="login-col">

        <button ion-button full color="pink" (click)="onForgot()" >RESET PASSWORD</button>

      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>
