<ion-content class="background-in-app" no-bounce>
  <div class="confirm-text">
    <p>Please confirm: <a (click)="publishProfile()" >YES</a> / <a (click)="cancelpublishProfile()" >NO</a></p>
  </div>
</ion-content>
