<ion-header >
  <ion-navbar>
    <ion-title>
      Search
      <ion-icon (click)="powerOff.powerOff()" class="icon-logout" name="power"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-in-app" id="search" no-bounce>
  <ion-row style="margin-top: 10%;" >
    <ion-col width-90 class="search-col">
      <ion-item >
        <ion-input text-center [(ngModel)]="searchItem.name"  placeholder="Name"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-90 class="search-col">
      <ion-item >
        <ion-input text-center [(ngModel)]="searchItem.location"  placeholder="Location"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col width-90 class="search-col">
      <ion-item >
        <ion-input text-center  [(ngModel)]="searchItem.role"  placeholder="Role/Post"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col width-90 class="search-col">

      <button (click)="onclickSearch()" ion-button full color="pink" >Search</button>

    </ion-col>
  </ion-row>
</ion-content>
