
<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content class="background-in-app" no-bounce>
  <div class="confirm-text">

        <ion-item >
          <ion-label>Choose a date</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" min="2017" max="2027-10-31" [(ngModel)]="date" ></ion-datetime>
        </ion-item>
        <ion-item >
          <a (click)="send()" >Send</a>
        </ion-item>
  </div>
</ion-content>
