page-meeting {
  .confirm-text{
    background-color: #ffffff;
    border: solid;
    border-width: 1px;
    border-color: #8c8c8c;
    margin-top: 70%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    ion-label {

      text-align: center;

    }
  }
}
