<!--
  Generated template for the SearchResult page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search results</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background-in-app" no-bounce>
  <ion-card *ngFor="let post of posts ">

    <ion-card-content>
      <ion-row >
        <ion-col width-25  >
          <ion-avatar (click)="OnClickAvatar(post.user.id,post.is_author_friend)">
            <div class="item-avatar">
              <img src="https://api.denrole.com/uploads/profile_pictures/{{post.user.profile_picture}}">
            </div>
          </ion-avatar>
        </ion-col>

        <ion-col width-50>
          <h2>{{post.user.username}}</h2>
          <h3>{{post.body}}</h3>
          <h4 color="primary">{{post.created_at}}</h4>
        </ion-col>
        <ion-col width-20 *ngIf="!post.is_author_friend">

          <ion-fab  *ngIf="post.user.id!= user">
            <button class="button-add" ion-fab color="light" mini (click)="AddFriend(post.user.id)"><ion-icon color="primary" name="add" ></ion-icon></button>
          </ion-fab>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

</ion-content>
