<!--
  Generated template for the ResetPasswordToken page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reset password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="background-app" no-bounce>
  <ion-grid >
    <ion-row >
      <ion-col width-75 class="reset-col ">
        <ion-input text-center [(ngModel)]="user.token"  placeholder="Code" ></ion-input>

      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col width-75 class="reset-col">
        <ion-input type="email" text-center [(ngModel)]="user.email"  placeholder="Email" ></ion-input>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-75 class="reset-col">

        <ion-input type="password" text-center [(ngModel)]="user.password" placeholder="Password"></ion-input>

      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col width-75 class="reset-col">

        <button ion-button full color="pink" (click)="onReset()" >RESET PASSWORD</button>

      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
