<ion-header>
  <ion-navbar>
    <ion-title>Privacy Policy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="privacy" class="background-in-app" padding no-bounce>
  <p>Last updated: 28 May 2017</p>
  <p>
    This statement sets forth DenRole Ltd’s policy and describes the practices
    that we will follow with respect to the privacy of the information of users of
    this site. Should you have any questions about this policy or our practices,
    please send an email to info@denrole.com or write to us at:
  </p>
  <p>
    DenRole Ltd<br>
    20-22 Wenlock Road<br>
    London<br>
    N1 7GU<br>
    You can also call us at +44 2038 185965.<br>
  </p>
  <h4>What Personal Information We Collect</h4>
  <p>
    DenRole Ltd collects your personal information online when you voluntarily
    provide it to us. If you choose to register online, we ask you to provide limited
    personal information, such as your name, location and email address. We also
    collect information that will allow you to establish a username and password
    in order to use the DenRole app.
  </p>
  <h4>How We Use Personal Information That We Collect Online</h4>
  <p>
    Internal Uses
  </p>
  <p>
    We may use your personal information within DenRole Ltd: <br>(1) to provide you
    with the services and products you request;<br> (2) to answer questions about our
    services; billing, payment methods or use of our website;<br> (3) to process or
    collect payments for our services and<br> (4) to contact you about the products
    and services that we offer.
  </p>
  <p>
    Disclosure of Personal Information to Third Parties
  </p>
  <p>
    We will not disclose any personal information to any third party (excluding
    our contractors to whom we may provide such information for the limited
    purpose of providing services to us and who are obligated to keep the
    information confidential), unless (1) you have authorised us to do so; (2) we
    are legally required to do so, for example, in response to a subpoena, court
    order or other legal process and/or, (3) it is necessary to protect our property
    rights related to this website. We also may share aggregate, non-personal
    information about website usage with unaffiliated third parties. This
    aggregate information does not contain any personal information about our
    users.
  </p>
  <h4>
    How We Protect Information Online
  </h4>
  <p>
    We exercise great care to protect your personal information. This includes,
    among other things, using industry standard techniques such as firewalls,
    encryption, and intrusion detection. As a result, while we strive to protect
    your personal information, we cannot ensure or warrant the security of any
    information you transmit to us or receive from us. This is especially true for
    information you transmit to us via email since we have no way of protecting
    that information until it reaches us since email does not have the security
    features that are built into our websites.
  </p>
  <p>
    In addition, we limit DenRole Ltd’s employees and contractors’ access to
    personal information. Only those employees and contractors with a business
    reason to know have access to this information. We educate our employees
    about the importance of maintaining confidentiality of customer information.
    We review our security arrangements from time to time as we deem
    appropriate.
  </p>
  <h4>How can you help protect your information?</h4>
  <p>
    If you are using a DenRole Ltd website or application for which you registered
    and chose a password, we recommend that you do not divulge your password
    to anyone. We will never ask you for your password in an unsolicited phone
    call or in an unsolicited email. Also remember to sign out of the DenRole
    application and close your browser window when you have finished using it.
    This is to ensure that others cannot access your personal information and
    correspondence if others have access to your device.
  </p>
  <h4>
    Links to Other Sites
  </h4>
  <p>
    We want to provide site visitors valuable information, services and products.
    Featured programs and other site content within the DenRole Ltd site may
    link our users to third party sites. DenRole Ltd does not control and is not
    responsible for practices of any third-party websites.
  </p>
  <h4>Note</h4>
  <p>
    From time to time, we may change this privacy statement. For example, as we
    update and improve our services, new features may require modifications to
    the privacy statement. Accordingly, please check back periodically.
  </p>

</ion-content>
